body {
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}
h2 {
  margin: 0;
  padding: 0;
}
.containerr {
  background-color: #b49267;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  background-color: #b49267;
  box-shadow: 1px 4px 27px -2px #ffffff;
  border: 2px solid white;
  height: 60vh;
  width: 40vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}
.number {
  font-size: 10rem;
}
.spacer {
  flex-grow: 1;
}
h1 {
  color: white;
  margin-top: 3em;
}
.number {
  color: rgb(48, 134, 48);
}
button {
  width: max-content;
  margin: auto;
  margin-bottom: 1.5rem;
  background: #0e2d51;
  color: white;
  padding: 10px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}
